$cart-bg:gray;
$cart-item:rgb(38, 38, 38);
$shadow:3px 3px 3px rgba(0, 0, 0, 0.408);
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:100vh;
    width:100vw;
}
#root{
    width:100%;
    height:100%;
}
a{
    color:white;
    text-decoration: none;
}
nav{
    background-color: rgb(41, 41, 41);
    display:flex;
    gap:2rem;
    justify-content: space-around;
    align-items: center;
    height:5rem;
    color:white;

}
.store-grid{
    display:grid;
    gap:2rem;
}
.store-listing{
    width:300px;
    height:300px;
    border:2px solid black;
    padding:2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
img{
    width:50%;
    height:50%;
}

main{
    background-image:linear-gradient(to top, rgba(29, 29, 29, 0.52), rgba(0, 0, 0, 0.989)),
    url('img/warehouse.jpg');
    
    background-size: cover;
    color: white;
    padding: 20px;
    background-color: black;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner{
    position:absolute;
    top:15%;
    width:100%;
}
#title{
    color:white;
    font-size:7rem;
    /* text-align: center; */
    padding:2rem;
    /* position:absolute;
    top:30%; */
}

#warehouse{
    width:90%;
    height:80%;
}
.cart{
    background-color:$cart-bg;
    padding:2rem;
    position:absolute;
    width:50%;
    height:100%;
    top:0;
    left:50%;
    .contents{
        display:flex;
        flex-direction: column;
        gap:1rem;
        // justify-content: center;
        // align-items: cent
        .cartItem{
            border-radius:.5rem;
            box-shadow:$shadow;
            color:white;
            background-color: $cart-item;
            display:flex;
            flex-direction: column;
            padding:1rem;
            gap:1rem;
            img{
                height:100px;
                width:100px;
            }
        }
        
            .total{
                text-align: center;
                font-size: 2rem;
            }
            .amount{
                display:flex;
                height:2rem;
                button{
                    width:1.5rem;
                }
                input{
                    width:3rem;
                    text-align: center;
                }
            }
    }
}